body{
    background-color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(212, 212, 212);
}
div.main{

height: 600px;
width: 1000px; ;
}
header{
    display: flex;
    flex-direction: row;

}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .nasa{
      font-size: 100px;
      /* font-family: 'Syne Tactile', cursive; */
      font-family: 'Rowdies', cursive;
      font-family: 'Syne Tactile', cursive;
      color:#e9e8e8;
     text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    position:absolute;
     top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .column {
    float: left;
    width: 30%;
    margin-top: 6px;
    padding: 20px;
  }
  article{
    
  }